@model ArtistasPraiaGrande.Models.Artista

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar esse cadastro?</h3>
<div>
    <h4>Artista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*Html.DisplayNameFor(model => model.NomeCompleto)*@
            Nome Completo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @*Html.DisplayNameFor(model => model.NomeSocial)*@
            Nome Social
        </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.NomeSocial)
                </dd>
                <dt class="col-sm-2">
                    @*Html.DisplayNameFor(model => model.NomeArtistico)*@
                    Nome Artístico
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.NomeArtistico)
                </dd>
                <dt class="col-sm-2">
                    @*Html.DisplayNameFor(model => model.Ativo)*@
                    Ativo
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Ativo)
                </dd>
                <dt class="col-sm-2">
                    @*Html.DisplayNameFor(model => model.Created)*@
                    Criado
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt class="col-sm-2">
                    @*Html.DisplayNameFor(model => model.Modified)*@
                    Modificado
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Modified)
                </dd>
                <dt class="col-sm-2">
                    @*Html.DisplayNameFor(model => model.Deferido)*@
                    Deferido
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Deferido)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdArtista" />
                <input type="submit" value="Deletar" class="btn btn-danger" /> |
                <a asp-action="Index">Página Inicial</a>
            </form>
        </div>
