@model IEnumerable<ArtistasPraiaGrande.Models.Artista>

@{
    ViewData["Title"] = "Indeferidos";
}

<h1>Indeferidos</h1>

<br />

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

 @*@if (tempdata["alertmessage"] != null)
{
    <div class="alert alert-success">
        <strong>sucesso!</strong> @tempdata["alertmessage"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
            <span>x</span>
        </button>
    </div>
}*@ 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeArtistico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deferido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeArtistico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deferido)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdArtista">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdArtista">Details</a> |
                    <a asp-action="Delete2" asp-route-id="@item.IdArtista">Delete2</a> |
                   
                    <a asp-action="Deferir" asp-route-id="@item.IdArtista">Deferir</a> |





                </td>
            </tr>
        }
    </tbody>
</table>
