@model IEnumerable<ArtistasPraiaGrande.Models.Artista>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeArtistico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeArtistico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArtista">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdArtista">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArtista">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
